<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h4>Название компании</h4>
        <small class="text-muted">© 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Команда</a></li>
          <li><a class="link-secondary" href="#">Местоположение</a></li>
          <li><a class="link-secondary" href="#">Карьера</a></li>
          <li><a class="link-secondary" href="#">Новости</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Служба поддержки</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Контакты</a></li>
          <li><a class="link-secondary" href="#">Справка</a></li>
          <li><a class="link-secondary" href="#">Обратная связь</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Следите за нами</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Instagram</a></li>
          <li><a class="link-secondary" href="#">Facebook</a></li>
          <li><a class="link-secondary" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>