<footer class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h4>Название компании</h4>
        <small class="text-muted">© 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Команда</a></li>
          <li><a class="link-secondary" href="#">Местоположение</a></li>
          <li><a class="link-secondary" href="#">Карьера</a></li>
          <li><a class="link-secondary" href="#">Новости</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Служба поддержки</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Контакты</a></li>
          <li><a class="link-secondary" href="https://yandex.kz/maps/org/136020283896/?display-text=%D0%90%D0%BF%D1%82%D0%B5%D0%BA%D0%B8&ll=63.624434%2C53.217133&mode=search&sctx=ZAAAAAgBEAAaKAoSCaHXn8Tn0E9AEbPSpBR0m0pAEhIJ4IJsWb4u0T8RlXzsLlBSuD8iBgABAgMEBSgKOABAt1BIAWoCa3qdAc3MTD2gAQCoAQC9AQpyucHCAZQB%2BKPD2%2FoDq4S95tYFs6%2Ba52TjlaTWtwLMuK%2Bw%2BASDgcyD%2FgWnua%2BTBtev7pqnAuC66Yb2BNi2x62iA5Lpot7XAcfg5P74AsekpJm%2BAY2984e5AojL5%2FiDBaez7Ni8A%2FSlg6b7BeGa9dSqApf34fjkA7Dlwc21BsTDuqbrA8KmgtCuBqzk6pzPAdvv4YKRBL2z06nWAuoBAPIBAPgBAIICDNCQ0L%2FRgtC10LrQuIoCCTE4NDEwNTkzMpICAJoCDGRlc2t0b3AtbWFwc6oCPDU2Nzc2NDcwNjg2LDczNDkwMzAwOTUzLDEzMTM5MjUyNTQzLDE0NjQxMDkyNjc0NCw3NDk5ODg5MTI3Mw%3D%3D&sll=63.624434%2C53.217133&sspn=0.033560%2C0.011875&text=%D0%90%D0%BF%D1%82%D0%B5%D0%BA%D0%B8&z=16">Где мы находимся</a></li>
          <li><a class="link-secondary" href="#">Справка</a></li>
          <li><a class="link-secondary" href="#">Обратная связь</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Следите за нами</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Instagram</a></li>
          <li><a class="link-secondary" href="#">Facebook</a></li>
          <li><a class="link-secondary" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>