{% load extras %}

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %} " class="nav-link px-2 text-white">Главная</a></li>
        <li>{% get_username %}</li>
        <li><a href="{% url 'create' %} " class="nav-link px-2 text-white">Опубликовать свой товар!</a></li>
      </ul>
      <div class="text-end">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" type="button" class="btn btn-danger me-2">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}" type="button" class="btn btn-primary me-2">Войти</a>
            <a href="{% url 'register' %}" type="button" class="btn btn-warning me-2">Зарегистрироваться</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>